*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-size:  3rem;
    margin-top: 90px;
    margin-left: 290px;
}

#value{
    font-size: 5rem;
    margin: 130px 350px;

}
.buttion-container{
    text-align: center;
}

.buttion-container button{
    border-radius: 5px;
    padding: 5px;
    margin: 5px
}